
html, body {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    color: #000;
    font: inherit;
    vertical-align: baseline;
}

.main-container {
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;

    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body {
    margin: 0;
    background-color: black;
}
  
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}
  

.start-container {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;

    .start-button {
        font-size: 80px;
        padding: 40px 160px;
        border-radius: 30px;
        width: fit-content;
        display: block;
        margin: 0 auto;
        background-color: transparent;
        color: #FFFF82;
        border: 1px solid #FFFF82;
        cursor: pointer;

        &:hover {
            //box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
            //rgb(255 255 130)
            //box-shadow: 0px 15px 20px rgba(255, 255, 130, 0.4);
            box-shadow: 0 0 60px 0 rgba(255, 255, 130, 0.4);
        }
    }
    .start-input {
        
        font-size: 80px;
        padding: 40px 60px;
        border-radius: 30px;
        width: 80%;
        display: block;
        margin: 0 auto;
        background-color: transparent;
        color: #FFFF82;
        border: 1px solid #FFFF82;

        &:focus {
            //box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
            //rgb(255 255 130)
            box-shadow: 0 0 60px 0 rgba(255, 255, 130, 0.4);
        }
    }
}


/* Set the animation, color, size and hide the text */
.intro {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    z-index: 1;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    animation: intro 6s ease-out 1s;
    //animation: intro 1s ease-out 1s;
    opacity: 0;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
  
/* Set the animation & hide the logo */
.logo {    
    position: absolute;
    top: 20%;
    left: 45%;
    z-index: 1;
    margin: auto;
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

.logo svg {
    width: inherit;
}
  
/* Scale the logo down and maintain it centered */
@keyframes logo {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}
  
p, label {
    color: #FFFF82;
}

h1 {
    color: #FFFF82;
    font-size: 80px;
}


.board {
    //transform: perspective(300px) rotateX(25deg);
    transform: perspective(2000px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    //height: 50em;
    height: 100em;
    width: 18em;
    bottom: 0;
    left: 50%;
    z-index: 10;

    //border: 1px solid red;
    //overflow: auto;
}


.board:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}
  
.img-responsive {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.img-responsive-100 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

  /* Set the scrolling animation and position it */
.content {
    //animation: scroll 10s linear 1s;
    // TO dev:
    animation: scroll 100s linear 7s;

    position: absolute;
    top: 100%;

    .separator {
        background: transparent;
        width: 100%;
        height: 10px;
        display: block;
    }
}
  
.title, .subtitle {
    text-align: center;
}

.input-check {
    width: 36px;
    height: 36px;
}
.btn {
    font-size: 80px;
    padding: 40px 160px;
    border-radius: 30px;
    width: fit-content;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: #FFFF82;
    border: 1px solid #FFFF82;
    cursor: pointer;

    &:disabled {
        background-color:rgba(255, 255, 130, 0.4);
        color: black;
    
    }

    &:hover {
        //box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
        //rgb(255 255 130)
        //box-shadow: 0px 15px 20px rgba(255, 255, 130, 0.4);
        box-shadow: 0 0 60px 0 rgba(255, 255, 130, 0.4);
    }
}


.ReactModalPortal {
    .ReactModal__Overlay {

    }
    .ReactModal__Content {

        .modal-main {
            width: 100%;
            height: 100%;
            border: 0;
            position: relative;

            .btn.btn-close-modal {
                font-size: 20px;
                padding: 4px 8px;
                border-radius: 50%;
                width: fit-content;
                display: block;
                margin: 0 auto;
                background-color: transparent;
                color: #FFFF82;
                border: 1px solid #FFFF82;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px 10px 0 0;
    
                &:hover {
                    //box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
                    //rgb(255 255 130)
                    //box-shadow: 0px 15px 20px rgba(255, 255, 130, 0.4);
                    box-shadow: 0 0 60px 0 rgba(255, 255, 130, 0.4);
                }
            
            }
        }
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    z-index: 10;
    
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
  

  


@keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
}
 
@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}



.final-step-container {
    width: 100%;
    display: block;
    margin: 200px 0 0 0; 
    width: 100%;
    //height: 1000px;
    display: block;
    font-size: 40px;
    font-size: 40px;
    z-index: 999;

    label {
        font-size: 60px;
    }
    


    .input-check {
        width: 36px;
        height: 36px;
    }
    .btn {
        font-size: 80px;
        padding: 40px 160px;
        border-radius: 30px;
        width: fit-content;
        display: block;
        margin: 0 auto;
        background-color: transparent;
        color: #FFFF82;
        border: 1px solid #FFFF82;
        cursor: pointer;

        &:disabled {
            background-color:rgba(255, 255, 130, 0.4);
            color: black;
        
        }

        &:hover {
            //box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
            //rgb(255 255 130)
            //box-shadow: 0px 15px 20px rgba(255, 255, 130, 0.4);
            box-shadow: 0 0 60px 0 rgba(255, 255, 130, 0.4);
        }
    }
}